<div id="appointment" class="my-4">
	<div class="container bg-light border">
		<%=link_to image_tag('logo.png'), 'https://www.gesalud.cl/' %>
		<h2 class="text-center py-3">
			AGENDA TU HORA EMPRESA</h2>
		<div class="text-center mb-3">
			<span class="text-center text-danger">*</span><span> Los campos en rojo son necesarios para procesar la solicitud de hora.</span>
		</div>
		<%= form_with url:send_email_path, method: :post, html: { id: "appointment_form", class:"was-validated" }  do |form| %>
			<h5>Sucursal</h5>
			<div class="form-group">
				<%= form.label :Sucursal %><span class="text-danger">*</span>
				<%= form.text_field :city, id: 'appointment_city', class: 'form-control', placeholder: 'Ciudad o comuna donde se realizarán los exámenes',autofocus:true,  required: true %>
				<div class="invalid-feedback">Completa este campo</div>
				<div class="valid-feedback">Esta bien</div>
			</div>
			<h5 class= "mt-3">Datos Empresa</h5>
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12 form-group">
							<%= form.label :Empresa %><span class="text-danger">*</span>
							<%= form.text_field :company, required: true, id: 'appointment_company', class: 'form-control', placeholder: 'El nombre de la empresa que solicita los exámenes' %>
							<div class="invalid-feedback">Completa este campo</div>
							<div class="valid-feedback">Esta bien</div>
						</div>
						<div class="col-md-12 form-group">
							<%= form.label :Dirección %><span class="text-danger">*</span>
							<%= form.text_field :address, required: true, id: 'appointment_address', class: 'form-control', placeholder: 'Cual es la dirección de tu empresa' %>
							<div class="invalid-feedback">Completa este campo</div>
							<div class="valid-feedback">Esta bien</div>
						</div>
						<div class="col-md-12 form-group">
							<%= form.label :Rut %><span class="text-danger">*</span>
							<%= form.text_field :rut, required: true, id: 'appointment_rut', class: 'form-control', placeholder: 'Ingresa el RUT de tu empresa', pattern: '(\d{1,3}(?:\d{1,3}){2}-[\dkK])' %>
							<div class="invalid-feedback">Completa este campo, sin puntos y con guión</div>
							<div class="valid-feedback">Esta bien</div>
						</div>
						<div class="col-md-12 form-group">
							<%= form.label :Giro %><span class="text-danger">*</span>
							<%= form.text_field :giro, required: true, id: 'appointment_giro', class: 'form-control', placeholder: 'Ingresa la actividad económica de tu empresa' %>
							<div class="invalid-feedback">Completa este campo</div>
							<div class="valid-feedback">Esta bien</div>
						</div>
						<div class="col-md-12 form-group">
							<%= form.label :Centro_costos %><span class="text-danger">*</span>
							<%= form.text_field :cost_center, required: true, id: 'appointment_giro', class: 'form-control', placeholder: 'Ingresa la actividad económica de tu empresa' %>
							<div class="invalid-feedback">Completa este campo</div>
							<div class="valid-feedback">Esta bien</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12 form-group">
							<%= form.label :Nombre_del_solicitante %><span class="text-danger">*</span>
							<%= form.text_field :applicant_name, required: true, id: 'appointment_name', class: 'form-control', placeholder: 'Cual es el nombre de la persona que solicita los exámenes' %>
							<div class="invalid-feedback">Completa este campo</div>
							<div class="valid-feedback">Esta bien</div>
						</div>
						<div class="col-md-12 form-group">
							<%= form.label :Teléfono_fijo %>
							<%= form.text_field :applicant_phone, id: 'appointment_phone', class: 'form-control', placeholder: 'Indícanos algún teléfono fijo en el que te podamos contactar' %>
							<br>
						</div>
						<div class="col-md-12 form-group">
							<%= form.label :Celular %><span class="text-danger">*</span>
							<%= form.text_field :applicant_cellphone, required: true, id: 'appointment_phone', class: 'form-control', placeholder: 'Indícanos algún móvil en el que te podamos contactar' %>
							<div class="invalid-feedback">Completa este campo</div>
							<div class="valid-feedback">Esta bien</div>
						</div>
						<div class="col-md-12 form-group">
							<%= form.label :Cargo %>
							<%= form.text_field :applicant_position, id: 'appointment_position', class: 'form-control', placeholder: 'El cargo que ocupas en tu empresa' %>
							<br>
						</div>
						<div class="col-md-12 form-group">
							<%= form.label :Email %><span class="text-danger">*</span>
							<%= form.email_field :applicant_email, required: true, id: 'appointment_email', class: 'form-control', placeholder: 'Indicanos una dirección de correo electrónico para poder comunicarnos contigo' %>
							<div class="invalid-feedback">Completa este campo en formato correo</div>
							<div class="valid-feedback">Esta bien</div>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<h5>Ingreso de Trabajadores</h5>
			<em>Ingresa los datos de los trabajadores que se realizaran los exámenes, en caso de que se realizan el exámen en una fecha diferentes debes ingresarla en el espacio asignado. Puedes pinchar en botón con el signo mas para agregar mas de un trabajador a la vez.</em>
			<div class="float-right my-3">
				<i id="add" class="fas fa-user-plus fa-2x mx-auto text-right "></i>
				<i id="remove" class="fas fa-user-minus fa-2x mx-auto text-right"></i>
			</div>
			<div class="row my-4" id="workers">
				<div class="col-md-3 form-group" >
					<%= form.label :Nombre_completo %><span class="text-danger">*</span>
					<%= form.text_field :worker_name0, required: true, class: 'form-control' %>
					<div class="invalid-feedback">Completa este campo</div>
					<div class="valid-feedback">Esta bien</div>
				</div>
				<div class="col-md-2 form-group">
					<%= form.label :Edad %>
					<%= form.number_field :worker_age0, class: 'form-control' %>
					<br>
				</div>
				<div class="col-md-2 form-group">
					<%= form.label :Rut%><span class="text-danger">*</span>
					<%= form.text_field :worker_rut0, required: true, class: 'form-control', pattern: '(\d{1,3}(?:\d{1,3}){2}-[\dkK])' %>
					<div class="invalid-feedback">Sin puntos y con guión</div>
					<div class="valid-feedback">Esta bien</div>
				</div>
				<div class="col-md-3 form-group">
					<%= form.label :Cargo%><span class="text-danger">*</span>
					<%= form.text_field :worker_position0, required: true, class: 'form-control' %>
					<div class="invalid-feedback">Completa este campo</div>
					<div class="valid-feedback">Esta bien</div>
				</div>
				<div class="col-md-2 form-group ">
					<%= form.label :Comentario%>
					<%= form.text_field :worker_comment0, class: 'form-control' %>
					<br>
				</div>
			</div>
			<div class="form-group ">
				<h6>Fecha Requerida</h6>
				<em>Esta es la fecha en que todos los trabajadores o la mayoría del grupo se realizara los exámenes</em>
				<%= form.date_field :date_required, id: 'appointment_worker_date', class: 'form-control my-4' %>
				<br>
			</div>
			<hr>
			<h5>Batería de Exámenes a solicitar</h5>
			<%= form.check_box :exam_covid_19 %> <label><%= t(:covid_19) %></label><br>
			<%= form.check_box :exam_physical_height %> <label><%= t(:exam_physical_height) %></label><br>
			<%= form.check_box :exam_driver_vp %> <label><%= t(:exam_driver_vp) %></label><br>
			<%= form.check_box :exam_driver_vl %> <label><%= t(:exam_driver_vl) %></label><br>
			<%= form.check_box :exam_psycho_technical_vp %> <label><%= t(:exam_psycho_technical_vp) %></label><br>
			<%= form.check_box :exam_psycho_technical_vl %> <label><%= t(:exam_psycho_technical_vp) %></label><br>
			<%= form.check_box :exam_risk_condition %> <label><%= t(:exam_risk_condition) %></label><br>
			<%= form.check_box :exam_cold_exposure %> <label><%= t(:exam_cold_exposure) %></label><br>
			<%= form.check_box :exam_heat_exposure %> <label><%= t(:exam_heat_exposure) %></label><br>
			<%= form.check_box :exam_confined_spaces %> <label><%= t(:exam_confined_spaces) %></label><br>
			<%= form.check_box :exam_visual_ability %> <label><%= t(:exam_visual_ability) %></label><br>
			<%= form.check_box :exam_hearing %> <label><%= t(:exam_hearing) %></label><br>
			<%= form.check_box :exam_geographic_height %> <label><%= t(:exam_geographic_height)%></label><br>
			<%= form.check_box :exam_noise %> <label><%= t(:exam_noise)%></label><br>
			<%= form.check_box :exam_rescue_brigade %> <label><%= t(:exam_rescue_brigade)%></label><br>
			<h6 class="mt-4">Otros exámenes</h6>
			<em>¿Necesitas un exámen que no esta en nuestra lista? por favor escribelo en este campo</em>
			<div class="form-group my-3">
				<%= form.text_field :exam_extra, id: 'body_batery', class: 'form-control' %>
				<br>
			</div>
			<hr>
			<h5>Drogas</h5>
			<%= form.check_box :drug_alcohol %> <label><%= t(:drug_alcohol) %></label> <br>
			<%= form.check_box :drug_marijuana %> <label><%= t(:drug_marijuana) %></label> <br>
			<%= form.check_box :drug_cocaine %> <label><%= t(:drug_cocaine) %></label> <br>
			<h6 class="mt-4">Otros exámenes de drogas</h6>
			<em>¿Necesitas un exámen de drogas que no esta en nuestra lista? por favor escribelo en este campo</em>
			<div class="form-group my-3">
				<%= form.text_field :drug_extra, id: 'body_drug', class: 'form-control' %>
				<br>
			</div>
			<hr>
			<div class="text-center">
				<h5>Los resultados estarán disponibles en la página: <a href="https://www.gesalud.cl" target= "_blank">www.gesalud.cl</a></h5>
			</div>
			<div class="text-center">
				<%= form.submit 'ENVIAR SOLICITUD AHORA', data: { disable_with: "Enviando..." } , class: 'btn btn-primary btn-lg my-3' %>
			</div>
		<% end %>
	</div>
</div>
