<!DOCTYPE html>
<html>
  <head>
    <title>Solicitud Exámenes</title>
    <%= favicon_link_tag 'favicon-16x16.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"> </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
