<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Solicitud Exámenes</title>
    <%= favicon_link_tag 'favicon-16x16.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "custom", defer: true %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"> </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body class="container">
    <% flash.each do |key, message| %>
      <div class="mt-4 alert alert-<%= key == "notice" ? "success" : "danger" %> alert-dismissible fade show" role="alert">
        <%= message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
